<div class="container">
    <div class="row">
      <% @items.each do |i|%>
        rank : <%=i.getRank%> <br>
        name : <%=i.name%> <br>
        teamName : <%=i.teamName%> <br>
        img : <img src="<%=i.img%>" /> <br>
        count : <%=i.likes.count%> <br>
        <a href="/home/count/<%=i.id%>">투표</a><hr>
      <% end %>
      <button class="btn btn-success" id="sweet">item 등록</button>
    </div>
</div>
<script type="text/javascript">
  $('#sweet').click(function(){
    swal({
      title: '아이템 등록',
      type: "success",
      // background: '#fff url(//bit.ly/1Nqn9HU)',
      html:
        '<label for="male">아이템 이름</label>'+
        '<input id="swal-input1" class="swal2-input">' +
        '<label for="male">팀 이름</label>'+
        '<input id="swal-input2" class="swal2-input">' +
        '<label for="male">아이템 url</label>'+
        '<input id="swal-input3" type="url" class="swal2-input">',
      preConfirm: function () {
        return new Promise(function (resolve) {
          resolve([
            $('#swal-input1').val(),
            $('#swal-input2').val(),
            $('#swal-input3').val()
          ])
        })
      },
      onOpen: function () {
        $('#swal-input1').focus()
      }
    }).then(function (result) {
      location.replace('/home/create?name=' + result[0]+'&teamName=' + result[1]+'&url='+ result[2]);
      // swal(JSON.stringify(result))
    }).catch(swal.noop)
})
</script>